* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
    text-align: center;
}
nav {
    ul{
        background: #fff; 
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        display: flex;
        list-style: none;
        text-decoration: none;
        padding: 20px 10px;
        margin-bottom: 30px;
        li {
            a {
                text-decoration: none;
                padding-left: 20px;
                color: #000;
                // &:hover {
                //     color: darkorange;
                // }
               
            }
            
        }
    }
}


.products-menu {
    margin-top: 20px;
    margin-bottom: 20px;
    a {
        margin-left: 20px;
    }
}